[submodule ".registry"]
	path = .registry
	url = https://github.com/friendly/friendly.r-universe.dev
	branch = HEAD
[submodule "Guerry"]
	path = Guerry
	url = https://github.com/friendly/Guerry
[submodule "HistData"]
	path = HistData
	url = https://github.com/friendly/HistData
[submodule "Lahman"]
	path = Lahman
	url = https://github.com/cdalzell/Lahman
[submodule "VisCollin"]
	path = VisCollin
	url = https://github.com/friendly/VisCollin
[submodule "WordPools"]
	path = WordPools
	url = https://github.com/friendly/WordPools
[submodule "candisc"]
	path = candisc
	url = https://github.com/friendly/candisc
[submodule "colorize"]
	path = colorize
	url = https://github.com/friendly/colorize
[submodule "gellipsoid"]
	path = gellipsoid
	url = https://github.com/friendly/gellipsoid
[submodule "genridge"]
	path = genridge
	url = https://github.com/friendly/genridge
[submodule "ggCheysson"]
	path = ggCheysson
	url = https://github.com/friendly/ggCheysson
[submodule "ggbiplot"]
	path = ggbiplot
	url = https://github.com/friendly/ggbiplot
[submodule "heplots"]
	path = heplots
	url = https://github.com/friendly/heplots
[submodule "matlib"]
	path = matlib
	url = https://github.com/friendly/matlib
[submodule "mvinfluence"]
	path = mvinfluence
	url = https://github.com/friendly/mvinfluence
[submodule "nestedLogit"]
	path = nestedLogit
	url = https://github.com/friendly/nestedLogit
[submodule "twoway"]
	path = twoway
	url = https://github.com/friendly/twoway
[submodule "vcdExtra"]
	path = vcdExtra
	url = https://github.com/friendly/vcdExtra
