[submodule ".registry"]
	path = .registry
	url = https://github.com/friendly/friendly.r-universe.dev
	branch = HEAD
[submodule "VisCollin"]
	path = VisCollin
	url = https://github.com/friendly/VisCollin
[submodule "candisc"]
	path = candisc
	url = https://github.com/friendly/candisc
[submodule "heplots"]
	path = heplots
	url = https://github.com/friendly/heplots
[submodule "mvinfluence"]
	path = mvinfluence
	url = https://github.com/friendly/mvinfluence
