[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "candisc"]
	path = candisc
	url = https://github.com/friendly/candisc
	shallow = true
	registered = true
[submodule "gellipsoid"]
	path = gellipsoid
	url = https://github.com/friendly/gellipsoid
	shallow = true
	registered = true
[submodule "genridge"]
	path = genridge
	url = https://github.com/friendly/genridge
	shallow = true
	registered = true
[submodule "Guerry"]
	path = Guerry
	url = https://github.com/friendly/guerry
	shallow = true
	registered = true
[submodule "heplots"]
	path = heplots
	url = https://github.com/friendly/heplots
	shallow = true
	registered = true
[submodule "HistData"]
	path = HistData
	url = https://github.com/friendly/histdata
	shallow = true
	registered = true
[submodule "matlib"]
	path = matlib
	url = https://github.com/friendly/matlib
	shallow = true
	registered = true
[submodule "mvinfluence"]
	path = mvinfluence
	url = https://github.com/friendly/mvinfluence
	shallow = true
	registered = true
[submodule "statquotes"]
	path = statquotes
	url = https://github.com/friendly/statquotes
	shallow = true
	registered = true
[submodule "twoway"]
	path = twoway
	url = https://github.com/friendly/twoway
	shallow = true
	registered = true
[submodule "vcdExtra"]
	path = vcdExtra
	url = https://github.com/friendly/vcdextra
	shallow = true
	registered = true
[submodule "WordPools"]
	path = WordPools
	url = https://github.com/friendly/wordpools
	shallow = true
	registered = true
